* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: Sans-Serif;
  padding-left: 10%;
  padding-right: 10%;
  background: #2c2c2c;
}

.info {
  text-align: center;
}

.card-info {
  background: #1f1f1f;
  border-left: solid 4px orange;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20%;
}

.card-summary {
  background: #1f1f1f;
  border-left: solid 4px red;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 5%;
}

.card-summary p,
.card-summary ul,
.card-summary li, {
  font-weight: bolz;
}

summary {
  margin-bottom: 20px;
}